.cache
/dist*
node_modules
.parcel-cache*
.eslintcache

# Visual regression is expensive,
# for now I don't want to invest in storing the image snapshots online,
# and don't want the extra build time.
__image_snapshots__