html {
	background: linear-gradient(0deg, #990000 0%, #000099 100%);
	background-attachment: fixed;
	font-family: monospace;
	line-height: 1.25;
}

h1 {
	color: #ffffff;
	font-size: 32px;
	margin: 16px;
}

p, h2 {
	color: #ffffff;
	font-size: 16px;
	margin: 16px;
}

a {
	color: #ffffff;
}

canvas {
	image-rendering: pixelated;
	cursor: url('../packages/editor/src/view/textures/cursor.png'), auto;
	background: #000000;
	box-shadow: 0 0 32px rgba(255, 255, 255, 0.1);
	width: 100%;
}

.canvas {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}