* {
	background: #000000;
	padding: 0;
	margin: 0;
	cursor: url('./view/textures/cursor.png'), auto;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

canvas {
	image-rendering: pixelated;
}
